       <h2 class="main-title"> Brands </h2>
        
        <div class="row">
          <div class="col-lg-12">
            <div class="users-table table-wrapper">
              <table class="posts-table">
                <thead>
                  <tr class="users-table-info">
                    <th>
                      <label class="users-table__checkbox ms-20">
                        <input type="checkbox" class="check-all">        Name
                      </label>
                    </th>
                    <th> Income </th>
                    <th> Ad Spend </th>
                    <th> ROI </th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                          Codar
                      </label>
                    </td>
                   
      <td> &#8358;{{codarTotal}}</td>
                    <td> &#8358;{{codarExpTotal}} </td>
                    <td>{{codarRoi}}% </td>
                    <td>
                    <span class="badge-pending">     Delete
                    </span>
                      </td>
                  </tr>

<tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                          Pianoman
                      </label>
                    </td>
                   
              <td> &#8358;{{pianomanTotal}} 
                </td>
                  <td> &#8358;{{pianomanExpTotal}} </td>
                    <td>{{pianomanRoi}}% </td>
                    <td>
                    <span class="badge-pending">     Delete
                    </span>
                      </td>
                  </tr>

                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                          Agency
                      </label>
                    </td>
                   
                    <td> &#8358;{{agencyTotal}}</td>
                    <td> &#8358;{{agencyExpTotal}} </td>
                    <td>{{agencyRoi}}% </td>
                    <td>
                    <span class="badge-pending">     Delete
                    </span>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
         
        </div>